## Type Casting In Python

Sometimes in our program, it is necessary for us to convert from one data type to another, such as from an integer to a string. This is known as type casting.   There are three built-in functions in Python that allow us to do type casting. These are the int(), float(), and str() functions .

In [1]:
s = "3"
integer = int(s)

In [2]:
integer

3

In [3]:
type(integer),type(s)

(int, str)

In [4]:
floating_point = float(s)
floating_point

3.0

In [5]:
type(floating_point),type(s)

(float, str)

In [9]:
y = 6763.8

In [10]:
string = str(y)
string

'6763.8'

In [11]:
type(string),type(y)

(str, float)

## Lists

List refers to a collection of data which are normally related. Instead of storing these data as separate variables, we can store them as a list. For instance, suppose our program needs to store the age of 5 users. Instead of storing them as user1Age , user2Age , user3Age , user4Age and user5Age , it makes more sense to store them as a list.
Note that we use square brackets [ ] when declaring a list. Multiple values are separated by a comma.

In [12]:
L = [20,31,27,54,44,64]   # creating list

L1 = []    #  empty list

nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, \
        27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]                #  long list

In [13]:
L

[20, 31, 27, 54, 44, 64]

In [14]:
type(L)

list

In [22]:
user1age = L[0]

In [23]:
user1age

20

In [24]:
input_list = eval(input("enter the list elements "))

enter the list elements 1,2,3,4,5,6,7,8,9

In [25]:
input_list

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Data types Lists can contain all kinds of things, even other lists. For example, the following is a valid list:

In [27]:
list1 = [1, 2.718, 'abc', [5,6,7]]

list2 = ["a","b","c","d","a"]

Indexing and slicing — For example, L[0] is the ﬁrst item of the list L and L[:3] gives the ﬁrst three items.

In [28]:
list1[2]

'abc'

In [29]:
list1.index("abc")

2

  The + operator adds one list to the end of another. The * operator repeats a list. Here are some examples:

In [34]:
 list3  =  [7,8]+["a","b","c"]+[3,4,5]

In [35]:
list3

[7, 8, 'a', 'b', 'c', 3, 4, 5]

In [36]:
list4 = [4,5,6,7]*2
list5 = [0]*5

In [37]:
list4

[4, 5, 6, 7, 4, 5, 6, 7]

In [38]:
list5

[0, 0, 0, 0, 0]

### Built-in functions

There are several built-in functions that operate on lists. Here are some useful ones:

In [41]:
len(L)   # len returns the number of items in the list

6

In [40]:
sum(L)    # sum returns the sum of the items in the list

240

In [42]:
avg = sum(L)/len(L)
avg

40.0

In [45]:
L

[20, 31, 27, 54, 44, 64]

In [43]:
min(L)     # min returns the minimum of the items in the list

20

In [46]:
max(L)     # returns the maximum of the items in the list

64

### List methods

Here are some list methods:

In [47]:
list4

[4, 5, 6, 7, 4, 5, 6, 7]

In [49]:
list4.append("3")        #  append(x) adds x to the end of the list 
print(list4)

[4, 5, 6, 7, 4, 5, 6, 7, 3, '3']

In [58]:
list4.sort(reverse=True)            #sort() sorts the list
print(list4)

[7, 7, 6, 6, 5, 5, 4, 4, 3]

In [54]:
list4.count(3)      # count(x) returns the number of times x occurs in the list

1

In [55]:
list4.index(6)                 #  index(x) returns the location of the ﬁrst occurrence of x

5

In [56]:
list4.reverse()      #    reverse() reverses the list
list4

[7, 7, 6, 6, 5, 5, 4, 4, 3]

In [59]:
list4.remove(5)     # remove(x) removes ﬁrst occurrence of x from the list 
list4

[7, 7, 6, 6, 5, 4, 4, 3]

In [62]:
list4.pop(0)      # pop(p) removes the item at index p and returns its value

7

In [63]:
list4

[7, 6, 6, 5, 4, 3]

In [65]:
list4.insert(0,1)   # insert the value at the given index
list4

[1, 7, 6, 6, 5, 4, 3, 2]

# Tuples

Tuples are a data structure very similar to the list data structure. The main difference being that tuple manipulation are faster than list because tuples are immutable.
Note that we use round brackets () when declaring a tuples. Multiple values are separated by a comma.

In [66]:
l1 = (1, 2, 3)
l2= 1, 2

In [67]:
l1

(1, 2, 3)

In [68]:
l2

(1, 2)

In [69]:
type(l1)

tuple

The + operator adds one tuple to the end of another. The * operator repeats a tuple. Here are some examples:

In [70]:
l1+l2

(1, 2, 3, 1, 2)

In [71]:
l3 = l1*3
l3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [72]:
len(l3)

9

In [73]:
sum(l3)

18

In [74]:
max(l3)

3

In [75]:
min(l3)

1

### Built in methods for tuples

In [76]:
l3.count(3)

3

In [77]:
l3.index(2)

1

In [78]:
l3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Dictionary
A dictionary is a sequence of items. Each item is a pair made of a key and a value. Dictionaries are not sorted. You can access to the list of keys or values independently. Note that we use flower brackets {} when declaring a Dictionaries. Multiple key:value pair are separated by a comma,

In [80]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
'May':31, 'June':30, 'July':31, 'August':31,
'September':30, 'October':31, 'November':30, 'December':31}     # decleare a dictinoary

In [81]:
days.keys()      # getting the key items

dict_keys(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [82]:
days.values()       # getting the value items

dict_values([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])

In [84]:
days["June"]    # getting a particular key :value pair

30

In [85]:
d = {'A':100, 'B':200}

In [86]:
d['A'] = 400     # To change d['A'] to 400, do

In [87]:
d['C'] = 100   # To add a new entry to the dictionary, we can just assign it

In [88]:
d

{'A': 400, 'B': 200, 'C': 100}

In [89]:
del d['A']    #  To delete an entry from a dictionary, use the del operator

In [90]:
d

{'B': 200, 'C': 100}

In [92]:
d1 = {'dog' : 'has a tail and goes woof!',
'cat' : 'says meow',
'mouse' : 'chased by cats'}

In [93]:
word = input('Enter a word: ')
print('The definition is:', d1[word])

Enter a word: dog
The definition is: has a tail and goes woof!

In [94]:
d2 = d1.copy() # Copying dictionaries

In [95]:
d2

{'dog': 'has a tail and goes woof!',
 'cat': 'says meow',
 'mouse': 'chased by cats'}

Lists of keys and values

In [96]:
list(d1)   #keys of d1

['dog', 'cat', 'mouse']

In [97]:
list(d1.values())  #values of d1

['has a tail and goes woof!', 'says meow', 'chased by cats']

In [98]:
list(d1.items())    #(key,value) pairs of d

[('dog', 'has a tail and goes woof!'),
 ('cat', 'says meow'),
 ('mouse', 'chased by cats')]

In [ ]:
# examples 
data=[{'id':'1','name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'},
{'id':'2','name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},
{'id':'3','name':'Princess', 'phone':'555-3141', 'email':''},
{'id':'4','name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]

##  sets

Sets are constructed from a sequence (or some other iterable object). Since sets cannot have duplicated, there are usually used to build sequence of unique items (e.g., set of identifiers).

In [99]:
a = set([1, 2, 3, 4])  # declearing sets

In [100]:
b = set([3, 4, 5, 6,3,2,3])

In [101]:
b

{2, 3, 4, 5, 6}

operations on sets

In [102]:
c = a.intersection(b)   #

In [103]:
c

{2, 3, 4}

In [104]:
c.issubset(a)

True

In [105]:
c.issuperset(a)

False

In [106]:
a.difference(b)

{1}

In [107]:
d = a.copy()

In [108]:
d

{1, 2, 3, 4}