## Python - Variable Types

### Variables
Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory. Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory.

In [1]:
# we assignment operator "=" to assign a values to a variable
a = 1
b = 3.2
c = "ML"

In [5]:
c

'ML'

In [6]:
d_1 = "ML"
print(d_1)

ML

In [13]:
_a1 = 4

In [14]:
_a1

4

In [30]:
# multiple assignment
a , b , c = 5.5,10,"ML"

In [31]:
b

10

In [32]:
a

5.5

In [33]:
c

'ML'

In [34]:
print(a,",",b,",",c)

5.5 , 10 , ML

In [35]:
a1 = b1 = c1 = "AI"   # assign a same value to the multiple variable

In [38]:
print(a1)

AI

In [39]:
print(b1)

AI

In [40]:
print(c1)

AI

## Storage Locations

In [41]:
x = 3 

print(id(x))      #print address of variable x

140720390054352

In [42]:
y = 3

print(id(y))      # print address of variable y

140720390054352

we have observed that x and y points to same memory locations

In [43]:
y = 2

print(id(y))        # print address of the variable y

140720390054320

## Python Data Types

### Data types
  Data types are the classification or categorization of data items. Data types represent a kind of value which determines what operations can be performed on that data. Numeric, non-numeric and Boolean (true/false) data are the most used data types.

### Types

1) Numeric Data Types 
    <br>
2) String Data Types<br>
3) None Data Type <br>

### Numeric Data Types

#### Python has the following numeric data types

– Boolean<br>
– Integer<br>
– Floating Point<br>
– Complex<br>

#### Boolean Data Type
    
    • The Boolean data type has two values: True and False
        – Note: The capitalization matters
    • True also has a numerical value of 1
    • False also has a numerical value of zero

In [47]:
True == 1

True

In [48]:
True == 0

False

In [45]:
False == 0

True

In [49]:
False == 1

False

In [54]:
type(True)

bool

#### Integer Data Type
    • Ranges from approximately -2147483648 to +2147483647
    • Exact range is machine dependent

In [55]:
#integer
a = 34
print(a)

34

In [56]:
type(a)

int

#### Floating Point Data Type
    • All floating point numbers are 64-bit (double precision)
    • Scientific notation is the same as in other languages
    – Either lower or upper case (e or E) can be used.

In [57]:
b = 2.0
print(b)

2.0

In [58]:
type(b)

float

#### Complex Data Type
    • Complex numbers such as 7.3 + i2.5 are denoted 7.3 + 2.5j
    – Either lower-case or upper-case j or J may be used to denote the imaginary part.
    • The complex data type has some built-in attributes and methods to retrieve the real part, the imaginary part, and to           compute the conjugate:

In [59]:
c = 3.5+2.8j
print(c)

(3.5+2.8j)

In [60]:
type(c)

complex

In [61]:
c.real

3.5

In [62]:
c.imag

2.8

In [63]:
c.conjugate()

(3.5-2.8j)

#### Strings
    • The string data type is assigned by enclosing the text in single, double, or even triple quotes. The following are all         valid ways of denoting a string literal
    – ‘Hello there’
    – “Hello there”
    – ‘‘‘Hello there’’’
    – “““Hello there”””

In [64]:
s_1 = "hello there"
s_2 = 'Hello world'
print(s_1)
print(s_2)

hello there
Hello world

In [65]:
type(s_1)

str

In [70]:
a_1 = '123'

In [71]:
type(a_1)

str

In [72]:
type(s_1),type(s_2)

(str, str)

In [78]:
# Mixing Quotes
s_3 = 'i don"t know'

In [79]:
type(s_3)

str

In [80]:
#Triple Quotes
s_4 = '''this is a python 
tutorial'''
s_5 = """this is a 
second line """

In [82]:
print(s_4)

this is a python
tutorial

In [83]:
print(s_5)

this is a
second line

In [84]:
type(s_4)

str

In [89]:
#Special Characters
x1 = "python \n programming"
print("python \n programming") # next line
print("python \t programming") # tab
print("python \\ programming") # single slash
print("python \v programming") # vertical tab
print("python \" programming") # double quote
print("python \' programming") # single quote

python
 programming
python 	 programming
python \ programming
python  programming
python " programming
python ' programming

In [87]:
print(x1)

python
 programming

####  None Data Type
    • An object or variable with no value (also known as the null value) has data type of None (note capitalization).
    • A value of None can be assigned to any variable or object in the same manner as any other value is assigned.

In [90]:
a1 = None
print(a1)

None

In [91]:
type(a1)

NoneType

In [92]:
a1 = "plugyaan"

In [93]:
a1

'plugyaan'

In [94]:
type(a1)

str